<div class=container>
    <div class="row text-center">
        <div class="col-md-offset-3 col-md-5">
            <h2>Proof Api Home page</h2>
        </div>
        <br>
        <div class="col-md-4 text-left">
            <button type="submit" class="btn btn-primary" ng-click="home.logout()">Logout</button>
        </div>
    </div>

    <div id="add-video">
        <form class="form-inline well col-xs-12 col-md-6 col-md-offset-3" ng-submit="home.addVideo(home.formdata)">
            <div class=" row">
                <div class="form-group col-md-5">
                    <label class="control-label">Title:</label>
                    <input class="form-control" type="text" ng-model="home.formdata.title">
                </div>
                <div class="form-group col-md-5">
                    <label class="control-label">Url:</label>
                    <input class="form-control" type="text" ng-model="home.formdata.url">
                </div>
            </div>
            <br>
            <div class=" row">
                <div class="form-group col-md-5">
                    <label class="control-label">Slug:</label>
                    <input class="form-control" type="text" ng-model="home.formdata.slug">
                </div>
                <div class="form-group col-md-5">
                    <br>
                    <button type="submit" class="btn btn-primary">Add video</button>
                </div>
            </div>

        </form>
    </div>

    <div class="row text-center">
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="home.getAllVideos()">All videos</button>
            <button class="btn btn-primary" ng-click="home.getTopVideosByViews()">Top ten by views</button>
            <button class="btn btn-primary" ng-click="home.getTopVideosByVotes()">Top ten by votes</button>
        </div>
    </div>
    <br>
    <div class="row">
        <ul style="list-style-type:none" ng-repeat="x in home.videoList">
            <li>
                <strong>{{x.attributes.title}}</strong>
                <a href="{{x.attributes.url}}" ng-click="home.createView(x)" target="_blank">{{x.attributes.title}}</a>
                <a class="btn btn-xs btn-rounded btn-default"><span class="glyphicon glyphicon-thumbs-up" ng-click="home.voteUp(x)"></span></a>
                <a class="btn btn-xs btn-rounded btn-default"><span class="glyphicon glyphicon-thumbs-down" ng-click="home.voteDown(x)"></span></a>
                <a class="btn btn-xs btn-rounded btn-default"><span>votes {{x.attributes.vote_tally}}</span></a>
                <a class="btn btn-xs btn-rounded btn-default"><span>views {{x.attributes.view_tally}}</span></a>

            </li>
        </ul>

    </div>


</div>
